<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="tokenapibaseuri" value="https://customers.verser.com.au/jmsgatewayapi/token" />
    <add key="rooturi" value="https://customers.verser.com.au/JMSGatewayAPI/" />
    
    <!--<add key="tokenapibaseuri" value="http://localhost:58570/token" />
    <add key="rooturi" value="http://localhost:58570/" />-->
    
    <add key="CreateOrder" value="Order/CreateManualOrder" />
    <add key="OnOrderList" value="Order/OnOrderList" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>